body {
    background-color: #ffcb9a;
    color: #401f00;
    font-size: 1.5em;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.poem {
    margin: 1.5em;
    margin-left: 1.75em;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

header, h3 {
    text-align: center;
}

.poem-title {
    color: #007372;
    font-weight: bold;
    font-size: 300%;
}

.welcome-greeting {
    font-size: 600%;
    color: #007372;
}

nav, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #000237;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kimchi-muffin img {
    display: flex;
    max-width: 40%;
    flex: 1 1 150px;
    justify-content: center;
    padding: 10px;
    border-style: solid;
    border: #000273;
    border-radius: 7px;
}

#about-me {
    display:inline-flex;
}



