body {
  background-color: #003838;
  color: #c1fffe;
  font-size: 1.5em;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.navigation {
  cursor: pointer;
  background-color: #e9ffff;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  // text-transform: uppercase;
}

.about-me {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.text-block {
  background-color: #e9ffff;
  color: #002524;
  margin-top: 20px;
  border-style: solid;
  border-color: #002524;
  border-radius: 2%;
  padding: 5px;
  text-align: center;
}

/* .kimchi-muffin img {
  display: inline-block;
  max-width: 20%;
  flex: 1 1 150px;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 2%;
  border-radius: 75%;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 10px;
}

figcaption {
  font-size: smaller;
  text-align: center;
  width: 100%;
} */


.post {
  margin: 1.5em;
  margin-left: 1.75em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

header, h3 {
  text-align: center;
}

.reflections-title {
  color: #007372;
  font-weight: bold;
  font-size: 300%;
  padding-top: 80px;
}

.post {
  border: none;
  border-radius: 50%;
  background-color: #c1fffe;
  cursor: pointer;
  height: 300px;
  width: 300px;
  font-weight: bold;
  font-size: .75em;
}

.post a:hover {
  background-color: #007372;
  color: #c1fffe;
}
.post a {
    text-decoration: none;
}

.post-article {
    background-color: #e9ffff;
    color: #002524;
    border-radius: 5%;
    padding: 40px;
    margin: 60px;
}
.post-title {
    padding-top: 80px;
}
.screenshots img {
    max-height: 700px;
    max-width: 700px;
}
.screenshots figcaption {
    text-align: left;
}

#colorButton {
    position: relative;
    float: right;
    min-width: 200px;
    min-height: 200px;
    background-color:palevioletred;
    border-radius: 50%;
    font-size: 1em;
}