body {
  background-color: #03835c;
  color: #c1fffe;
  font-size: 24px;
  margin: auto;
}

a {
  text-decoration: none;
}

h1, h3 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation {
  cursor: pointer;
  background-color: #e9ffff;
  display: flex;
  justify-content: space-around;
}

.spacer {
  height: 200px;
  width: 100%;
  // background-color: complement($color: #03835c);
  background-color: transparent;
}

.text-block {
  //background-color: #e9ffffa6;
  color: #001a19;
  border: solid 2px #003635e0;
  padding: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
  180deg
  ,rgba(255,255,255,.48) 0%,rgba(255,255,255,0) 23%);
  background-color: transparent;
  // z-index: 100;
  filter: alpha(opacity=0);
  transition: opacity .5s ease-in-out;
}

.text-block__flex {
  display: flex;
  align-items: center;
}

.side-block_small {
  padding: 2.5%;
  width: 30%;
}

.side-block_large {
  padding: 5%;
  width: 60%;
}

.screenshots img {
    max-height: 700px;
    max-width: 700px;
}
.screenshots figcaption {
    text-align: left;
}

#colorButton {
    position: relative;
    float: right;
    min-width: 200px;
    min-height: 200px;
    background-color:palevioletred;
    border-radius: 50%;
}


#testBackground{
	height: 100%;
  width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
  //background: url('/harriet-waldron/Code/Foundations/dev-academy/harriet-waldron.github.io/harriet-waldron.github.io/server/public/128874840_1388853981474809_7692889570422402461_o.jpg');
}

// .feature-slide-overlay {
//   height: 101%;
//   position: absolute;
//   z-index: 100;
//   width: 100%;
//   opacity: 0;
//   -moz-opacity: 0;
//   filter: alpha(opacity=0);
//   background-color: #fff;
//   transition: opacity .5s ease-in-out;
//   top: 50%;
//   transform: translate(0,-50%);
// }

// #header-area.header-overlay .feature-area-main .feature-slide-overlay {
//   background-image: linear-gradient(
// 180deg
// ,rgba(255,255,255,.48) 0%,rgba(255,255,255,0) 23%);
//   opacity: 1;
//   background-color: transparent;
// }